for_window [class="Qmv"] floating enable
for_window [instance="stardict"] floating enable
for_window [class="Gman"] floating enable
for_window [class="Gorilla.*"] floating enable
for_window [class="Pwsafe"] floating enable
for_window [class="Gtklp"] floating enable
for_window [class="XClock"] floating enable
for_window [class="Arandr"] floating enable
for_window [class="Wicd-client.py"] floating enable

for_window [class="Foo"] floating enable
for_window [class="Tk"] floating enable
for_window [class="Marrek"] floating enable
for_window [class="Colormishmash"] floating enable
for_window [class="Abcde"] floating enable
for_window [class="Abcde"] floating enable
for_window [class="copyq"] floating enable

for_window [instance="nmLoginDialog.*"] floating enable

for_window [class="Tilda"] border normal 21
for_window [class="Gmrun"] border normal 21

# vim:ft=conf:nospell
